<?xml version='1.0'?>
<launch>

  <!-- Launch both cameras -->
  <node name="usb_cam_0" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam_0" />
    <param name="io_method" value="mmap"/>
  </node>
<!--
  <node name="usb_cam_1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video6" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam_1" />
  </node>
-->
  <!-- Launch gps node -->
  <node name="gps_fix" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen" >
  </node>

  <!-- Launch IMU node -->
  <node pkg="rtimulib_ros" type="rtimulib_ros" name="rtimulib_node" output="screen">
        <param name="calibration_file_path" value="$(find rtimulib_ros)/config"/>
        <param name="frame_id" value="map"/> <!-- /map is used for debug in RViz, to be replaced by the imu_link -->
        <param name="update_rate" value="10"/>
    </node>
  

</launch>
