<?xml version='1.0'?>
<launch>

<!-- Launch all rover nodes -->

<!--
<node pkg="pkg_name" name="node_name" type="script_name" respawn="false" output="screen">
	</node>
-->

<include file="$(find rover_control)/launch/watchdog.launch"/>
<include file="$(find rover_control)/launch/control.launch"/>
<include file="$(find rover_drivers)/launch/sensors.launch"/>
<include file="$(find rover_cam)/launch/panorama.launch"/>

</launch>
